<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="clipboard-sharp"></ion-icon>
      <ion-label>Pendentes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="checkmark-done-sharp"></ion-icon>
      <ion-label>Concluídos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
