<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title> Pendentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let list of lists" detail>
      <ion-label>{{ list.title }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
